{% extends 'base.html' %}

{% block title %}Analytics{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4 text-center">Analytics!</h1>

    <div class="row">
        {% for chart in charts %}
        <div class="col-md-6 mb-4">
            <div class="card shadow-sm border border-primary">
                <div class="card-body">
                    <h5 class="card-title text-center"><strong>{{ chart.title }}</strong></h5>
                    <img src="data:image/png;base64,{{ chart.data }}" alt="{{ chart.title }}" class="img-fluid">
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
