{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Delete{% endblock %}


{% block content %}
<!-- This generic delete template can be used to delete different objects.  -->
<div class="container mt-4">
    <h1 class="mb-4">Delete</h1>
    <form method="POST" actions="">
        {% csrf_token %}
        <p>Are you sure you want to delete <strong>{{obj}}?</strong></p>
        <a class="btn btn-primary mt-3" href="{{request.META.HTTP_REFERER}}">Go back</a>
        <input type="submit" class="btn btn-danger mt-3" value="Confirm">
    </form>
</div>
{% endblock %}
