{% extends 'base.html' %}

{% block title %}View Ingredients{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Ingredients</h1>
    
    {% if ingredients %}
    <table class="table table-hover mt-4">  
      <thead>
        <tr class="table-primary">
            <th>Name</th>
            <th>Quantity</th>
            <th>Price (per unit)</th>
            <th></th>
            <th></th>
        </tr>
      </thead>
      <tbody>
      {% for ingredient in ingredients %}
        <tr>
            <td>{{ ingredient.name }}</td>
            <td>{{ ingredient.quantity }}</td>
            <td>{{ ingredient.price_per_unit }}</td>
            <td><a href="{% url 'update_ingredient' ingredient.id %}" class="btn btn-sm btn-warning">Edit</a></td>
            <td><a href="{% url 'delete_ingredient' ingredient.id %}" class="btn btn-sm btn-danger">Delete</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    <p>Total Cost: ${{ inventory_value }}</p>
    {% else %}
        <p class="text-muted">No ingredients available. <a href="{% url 'create_ingredient' %}">Create some!</a></p>
    {% endif %}
    
    
    <a href="{% url 'create_ingredient' %}" class="btn btn-primary mt-3">Create Ingredient</a>
</div>
{% endblock %}