{% extends 'base.html' %}
{% load static %}

{% block title %}Recipes{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mb-4">Recipes</h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-3">
        {% for menu_item in menu_items %}
            <div class="col d-flex align-items-stretch">
                <div class="card border-primary text-center h-100" style="width: 20rem">
                    <div class="card-header bg-primary text-white">
                        {{ menu_item.name }}
                    </div>
                    <div class="card-body d-flex flex-column">
                        <p class="card-text">
                            <strong>Price:</strong> ${{ menu_item.price }}
                        </p>
                        <ul class="list-group list-group-flush">
                            {% for recipe in menu_item.reciperequirement_set.all %}
                                <li class="list-group-item">
                                    <strong>{{ recipe.ingredient.name }}</strong>: {{ recipe.quantity }}
                                </li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

