<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django Delights{% endblock %}</title>
    <link rel= "stylesheet" type="text/css" href="https://bootswatch.com/5/yeti/bootstrap.min.css" >
     {% load crispy_forms_tags %}
</head>
<body>
    <header>
        <h1>Django Delights</h1>
        <nav>
            <ul>
                <li><a href="{% url 'ingredient_list' %}">View Ingredients</a></li>
                <li><a href="{% url 'create_ingredient' %}">Create Ingredient</a></li>
                <li><a href="{% url 'menu_item_list' %}">View Menu Items</a></li>
                <li><a href="{% url 'create_menu_item' %}">Create Menu Item</a></li>
                <li><a href="{% url 'create_recipe_requirement' %}">Create Recipe Requirement</a></li>

                {% comment %} <li><a href="{% url 'purchase_list' %}">View Purchases</a></li>
                <li><a href="{% url 'create_purchase' %}">Record Purchase</a></li> {% endcomment %}
                <li><a href="{% url 'admin:index' %}">Admin Panel</a></li>
                {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
        </li>
        {% endfor %}
    </ul>
{% endif %}

        {% block content %}
        <!-- Page-specific content goes here -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; {{ current_year }} Django Delights. All rights reserved.</p>
    </footer>
</body>
</html>
